body{
  background-color: #FAFAFA;
}
h1{
  font-family: Roboto;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .navButton:hover {
  background-color: #838383 !important;
  color: #aadd33 !important;
} */