@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Bakbak+One&family=Roboto:wght@300;400;500;700;900&display=swap');

/* font-family: 'B612', sans-serif;
font-family: 'Bakbak One', cursive;
font-family: 'Roboto', sans-serif; */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 48px;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
}
p{
  font-family: 'Roboto', sans-serif;
  font-weight: regular;
  font-size: 24px;
}