@import url("https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Bakbak+One&family=Roboto:wght@300;400;500;700;900&display=swap");

.style-1 .cinema,
.style-1 .seat,
.style-1 .date,
.style-1 .time,
.style-2 .cinema,
.style-2 .seat,
.style-2 .date,
.style-2 .time,
.style-3 .cinema,
.style-3 .seat,
.style-3 .date,
.style-3 .time {
  font-family: B612, sans-serif;
  font-size: 16px;
}
.style-1 .title,
.style-1 .cinema-value,
.style-1 .seat-value,
.style-1 .date-value,
.style-1 .time-value,
.style-2 .title,
.style-2 .cinema-value,
.style-2 .seat-value,
.style-2 .date-value,
.style-2 .time-value,
.style-3 .title,
.style-3 .cinema-value,
.style-3 .seat-value,
.style-3 .date-value,
.style-3 .time-value {
  font-family: "Bakbak One", sans-serif;
  font-size: 16px;
}

.cinema-item,
.seat-item,
.date-item,
.time-item {
  text-align: center;
}

/*=========== ticket style 1 ==============*/

.style-1 {
  background-image: url("../assets/ticket/ticket1-black.png");
  background-size: 250px 250px;
  color: red;
}

.style-1 .container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 200px;
  position: relative
}
.style-1 .title {
  font-size: 26px;
  margin: 20px auto;
  text-align: center;
}
.style-1 .cinema-seat,
.style-1 .date-time {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.style-1 .note {
  color: #ffffff;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 10px 15px 0 0;
}
/* .style-1 .note {
  position: absolute;

  bottom:15px;
  right: 15px;
  color: #FFFFFF;
} */


/*=========== ticket style 2 ==============*/

.style-2 .container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.style-2 .not-title {
  display: flex;
  flex-direction: column;

  width: 125px;
}
.style-2 .title {
  font-size: 26px;
  margin: 10px 20px;
}
.style-2 .cinema-seat {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}
.style-2 .date-time {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px 20px 0 20px;
}
.style-1 .cinema-item {
  margin-right: 10px;
}

.style-2 .date-item {
  margin: 10px 0 5px 0;
}

.style-2 {
  background-image: url("../assets/ticket/ticket2-black.png");
  background-size: 250px 250px;
}

.style-2 .note {
  position: absolute;
  /* z-index: 999; */
  bottom:15px;
  right: 15px;
  color: #000000;
}
/*=========== ticket style 3 ==============*/

.style-3 .container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  position: relative;
}
.style-3 .not-title {
  display: flex;
  flex-direction: column;
}
.style-3 .title {
  font-size: 26px;
  margin: 10px 20px 20px 20px;
}
.style-3 .cinema-seat {
  align-self: flex-end;
  color: #fafafa;
  margin-right: 20px;
}
.style-3 .date-time {
  align-self: flex-start;
  margin-left: 20px;
}

.style-3 {
  background-image: url("../assets/ticket/ticket3-black.png");
  background-size: 250px 250px;
}
.style-3 .note {
  position: absolute;
  /* z-index: 999; */
  bottom:15px;
  right: 15px;
  color: #FFFFFF;
}

/* ========= radio =========== */
.radio-style input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: -3px;
  left: -9px;
  height: 25px;
  width: 25px;
  z-index: -2;
}
.radio-style {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 50%;
}
.radio-style:hover input ~ .checkmark {
  border-radius: 50%;
  background-color: #eeeeee;
  width: 30px;
  height: 30px;
}
.radio-style input:checked ~ .checkmark {
  border-radius: 50%;
  background-color: #212121;
  width: 30px;
  height: 30px;
}

.checkmark:after {
  content: "";
  position: absolute;
  background-color: #fafafa;

  display: none;
}
.radio-style input:checked ~ .checkmark:after {
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #fafafa;
  width: 25px;
  height: 25px;
  top: 2.5px;
  left: 2.5px;
}
